/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/*[type="radio"]:not(:checked), [type="radio"]:checked {
	left: 0 !important;
	visibility: visible !important;
	opacity:0;
}
[type="radio"]:focus + label::before{
	box-shadow: 0 0 10px #285278 !important;
}*/
.fixed {
  [type="checkbox"], [type="radio"] {
    + label {   
      pointer-events: auto;
    }
  }
}